{{ $url := "static/data.csv" }}
{{ $sep := "," }}
{{ $csvData := getCSV $sep $url }}

{{ $lastUpdate := dateFormat "2006-01-02" .Site.Params.lastUpdate }}
Last updated: {{ $lastUpdate }}

<div style="overflow-x:auto">
<table>
  <thead>
    {{ range first 1 $csvData }}
    <tr>
      {{ range . }}<th>{{ . }}</th>{{ end }}
    </tr>
    {{ end }}
  </thead>
  <tbody>
    {{ range after 1 $csvData }}
    <tr>
      {{ range . }}<td>{{ . }}</td>{{ end }}
    </tr>
    {{ end }}
  </tbody>
</table>
</div>
