{{ $rows := .Inner | transform.Unmarshal }}

<div style="overflow-x:auto">
<table>
  {{ range first 1 $rows }}
    <tr>
      {{ range . }} <th>{{ . }}</th> {{ end }}
    </tr>
  {{ end }}
  {{ range after 1 $rows }}
    <tr>
      {{ range . }} <td>{{ . }}</td> {{ end }}
    </tr>
  {{ end }}
</table>
</div>
